* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    text-align: center;
    height: 100%;
    font:1em/1.5 Georgia,sans-serif;
}

p {
    margin: 1em 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    font-size: 100%;
}

p.meta {
    font-size: 1.3em;
    color: #666666;
    text-align: center;
}

/* header, footer */

#header {
    background-color: #666666;
    padding: 1em 0;
    margin: 0em 0em 4em 0em;
}

#footer {
    background-color: #666666;
    padding: 1em 0;
    margin: 4em 0em 0em 0em;
}

#header h1 {
    color: #FFFFFF;
    font-size: 2.2em;
    margin: 0;
}

#header a:hover, a:focus {
    color: #BBBBBB;
}

#header a {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited, a:link, a:active {
    color: #C00906;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: underline;
}

#home h1 {
    font-size: 120%;
}

#container {
    width: 40em;
    line-height: 1.5em;
    font-size: 110%;
    text-align: justify;
    margin: 0 auto;
}

#home {
    text-align: center;
}

/* home: from mojombo */

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #666666;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
    font-weight: bold;
}

/* post: from mojombo */

.title h1 {
    font-size: 1.8em;
    text-align: center;
}

#post ol, ul {
    margin-left: 1.25em;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 0.2em;
}

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

#post pre code {
    border: none;
    padding: 0;
}

/* quote */

#post blockquote {
    border-left: 2px solid #444444;
    color: #666666;
    padding: 0 1em;
    margin: 0 1em 1.5em;
}

#post table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #666666; */
    border-collapse: collapse;
}

#post table th {
    background-color: #666666;
    color: #FFFFFF;
    border-width: 1px 1px 2px;
    border: 1px solid #666666;
    border-bottom: 1px solid #FFFFFF;
    padding: 0.25em 1em;
}

#post table td {
    padding: 0.25em 1em;
    border: 1px solid #666666;
}

#post hr {
    color: #666666;
    background-color: #666666;
    height: 0.25em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center;
}
